$yellow: #ffca00;
$yellow-lighten: #ffdc57;
$blue: #354082;
$blue-lighten: #3549c2;
$silver: #3549c2;
$blue-gradient: linear-gradient(-45deg, #667bfa 0%, #3549c2 100%);
$yellow-gradient: linear-gradient(-45deg, #ffdc57 0%, #ffca00 100%);